.container{
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;

  .header{

    .links{

    }
  }
  .content{

      .avatarBlock{
        .avatar{
          width:86px;
          height:86px;
        }
      }
    .descriptionBlock{

        .descriptions{

        }
      .buttons{

      }
    }
    .inicialBlock{

        .inicial{

        }
    }
  }
}